[submodule "inte-pilori"]
	path = inte-pilori
	url = git@github.com:O-clock-DWA-Session1/inte-pilori.git
[submodule "pilori-alix-large"]
	path = pilori-alix-large
	url = git@github.com:alix-large/pilori-alix-large.git
[submodule "integration-pilori"]
	path = integration-pilori
	url = git@github.com:O-clock-DWA-Session1/inte-pilori.git
