<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - PilOri</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="/index.js" type="module"></script>
</head>

<body>
    <!-- liens d'accès rapide -->
    <nav role="navigation" aria-label="Accès rapide" class="skip-links">
        <ul>
            <li><a href="#main">Contenu</a></li>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
    <!-- landmark role="banner" unique dans la page -->
    <header role="banner" class="header" >
        <a class="logo" href="/" title="Retour à l'accueil Pilori">
            <img class="logo-img" src="/logo.svg" alt="">
        </a>
        <!-- landmark role="navigation" aria-label pour les lecteurs d'écrans -->
        <nav class="menu" role="navigation" aria-label="Menu principal">
            <a class="menu-link" href="/tomates">Toutes les tomates</a>
            <a class="menu-link" href="/tomates/denoncer">Dénoncer</a>
        </nav>
        <div class="header-tools">
            <!-- landmark role="search" -->
            <form action ="/tomates" method="GET" class="search" role="search">
                <!--Libellé pour les lecteurs d'écrans : aria-label -->
                <input name="search" class="search-input" type="search" aria-label="Rechercher par mots-clefs" placeholder="Rechercher..." >
                <button class="search-submit" type="submit">
                    <i role="img" focusable="false"  aria-hidden="true" data-feather="search"></i> <span class="sr-only">Rechercher</span>
                </button>
            </form>
            <div class="account">
                <a id="menuToggler" class="account-link account-link--mobile" href="#"><i data-feather="menu" role="img" aria-hidden="true" focusable="false" aria-label = "Menu"></i></a>
                <a id="searchToggler" class="account-link account-link--mobile" href="#"><i data-feather="search" role="img" aria-hidden="true" focusable="false" aria-label = "Rechercher"></i></a>
                    <% if (isLogged) { %>
                        <a class="account-link" href="/profil" title="Profil"><i data-feather="user" role="img" aria-hidden="true" focusable="false"></i></a>
                        <a class="account-link" href="/deconnexion" title="Déconnexion"><i data-feather="log-out" role="img" aria-hidden="true" focusable="false"></i></a>
                    <% } else { %>
                        <a class="account-link" href="/connexion" title="Connexion"><i data-feather="log-in" role="img" aria-hidden="true" focusable="false"></i></a>
                        <a class="account-link" href="/inscription" title="Inscription"><i data-feather="user-plus" role="img" aria-hidden="true" focusable="false"></i></a>
                    <% } %>
            </div>
        </div>
    </header>