<%- include('partials/header') %>
<main class="content">
  <h1 class="content-title">Erreur</h1>
  <section class="segment">

    <p><%= locals.message || 'Une erreur s\'est produite' %></p>
    <!-- ici : On utilise une deuxieme manière de passer une donnée à la vue : si je fais un console.log(locals.message), cela indiquera 'la page demandée n'a pas été trouvée.  -->
    <div class="segment-actions">
      <a class="btn btn--outline" href="/tomates">Envoyer des tomates</a>
      <a class="btn" href="/tomates/denoncer">Commencer la dénonciation</a>
    </div>
  </section>
</main>
<%- include('partials/footer') %>