<%- include('partials/header') %>
<main role="main" class="content">
    <h1 class="content-title"><%= title %></h1>
    <section role="region" aria-label="listes des sites web dénoncés" class="segment">
            <div class="segment-tools">
            <!-- Todo : ally du bouton mosaique/liste -->
            <button class="btn btn--view-mode" data-mode="list" title="Affichage en liste"><i
                    data-feather="list"></i></button>
            <button class="btn btn--view-mode btn--hidden" data-mode="grid" title="Affichage en mosaïque"><i
                    data-feather="grid"></i></button>
        </div>
        <div class="card-container">
            <% for (const website of websites) { %>
                <%- include ('partials/cards', {website : website}) %>
                <!-- websites n'est pas passé à la vue enfant, il faut le faire passer explicitement, cr cards a besoin de website. La valeur de website qui est definie dans la vue parentest passée à la vue enfant -->
            <% } %> 
        </div>
    </section>
</main>
<%- include('partials/footer') %>